<div class="footer justify-center grid grid-cols-1 md:grid-cols-3 divide-y md:divide-x bg-amber-400">
  <div class="w-full py-2">
    <p>Contact US</p>

    <div class="flex justify-center w-full">
      view on <img class="h-[100px] mt-[-22px]" alt="Chat on WhatsApp" src="assets/img/linktree-logo.svg"
        (click)="openTab('https://linktr.ee/ndfcoating ')">

      <!-- <div class="grid w-full">
        <p>+62 895-6357-61324</p>
      </div>
      <div class="grid w-full">
        <p>+62 851-7525-0856</p>
      </div> -->
    </div>
  </div>
  <div class="w-full py-2">
    <p>Email Us</p>
    <p>lindajayasamudra&#64;gmail.com</p>
  </div>
  <div class="w-full py-2">
    <p>Opening Hours</p>
    <p>Mon - Sun : 9 am - 7 pm</p>
  </div>
</div>
<div class="justify-center grid grid-cols-1 md:grid-cols-3 bg-indigo-950">
  <div class="flex justify-center w-full h-[275px]">
    <img class="h-[275px]" src="assets/img/logo.png" />
  </div>
  <div class="w-full p-2 text-center md:text-left pt-12">
    <p class="text-amber-400">Our Service</p>
    <p class="text-white">Car Wash & Beauty</p>
    <p class="text-white">Auto Detailing</p>
    <p class="text-white">Coating Nano Ceramic</p>
  </div>
  <div class="w-full p-2 text-center md:text-left pt-12">
    <p class="text-amber-400">Head Office</p>
    <p class="text-white">
      Ciledug Mas, Jl. HOS Cokroaminoto, RT.003/RW.004, Sudimara Tim., Kec. Karang Tengah, Kota Tangerang, Banten
      15151, Tangerang 15151
    </p>
  </div>
</div>
<div class="w-full lg:max-w-[1280px]">
  <div class="footer bg-amber-400 flex justify-center">
    <p class="no-underline">
      Copyright &#64; 2024 Ndf Coating And Car Wash
    </p>
  </div>
</div>