<div class="grid w-full my-5 pt-5 shadow-md rounded-md">
    <div class="grid w-full py-2 mb-2 -my-5 bg-amber-400 rounded-md">
        <p class="text-center self-center text-2xl font-bold">Kemitraan</p>
    </div>
    <div class="flex justify-center w-full h-[400px]">
        <img class="h-[400px]" src="assets/img/p1.jpg">
    </div>
    <div class="grid w-full py-2 mb-2 -my-5 bg-amber-400 rounded-md">
        <p class="text-center self-center text-2xl font-bold">Mengapa memilih kemitraan NDF Coating & Car Wash </p>
    </div>
    <div class="p-5 bg-indigo-950 text-white rounded-xl shadow-xl">
        <ul class="list-disc list-inside">
            <li>memberikan solusi bagi mitra</li>
            <li>harga terjangkau dan kompetitif</li>
            <li>pelayanan ramah dan hangat</li>
            <li>adaptif terhadap perkembangan teknologi</li>
            <li>kepuasan pelanggan nomor satu</li>
        </ul>
    </div>

    <div class="grid w-full py-2 mb-2 -my-5 bg-amber-400 rounded-md">
        <p class="text-center self-center text-2xl font-bold">Keuntungan kemitraan NDF Coating & Car Wash</p>
    </div>
    <div class="p-5 bg-indigo-950 text-white rounded-xl shadow-xl">
        <ul class="list-disc list-inside">
            <li>Bebas Biaya Royalti</li>
            <li>Pelatihan karyawan</li>
            <li>Support Digital Marketing</li>
            <li>Free Material dan Peralatan </li>
        </ul>
    </div>


    <div class="grid w-full py-2 mb-2 -my-5 bg-amber-400 rounded-md">
        <p class="text-center self-center text-2xl font-bold">Kenapa harus buka jasa perawatan kendaraan?</p>
    </div>
    <div class="p-5 bg-indigo-950 text-white rounded-xl shadow-xl">
        <ul class="list-disc list-inside">
            <li>mempunyai market yang luas</li>
            <li>memiliki peluang yang menjanjikan</li>
            <li>tingginya profit margin yang akan didapat</li>

        </ul>
    </div>
</div>
<div class="grid w-full my-5 pt-5 shadow-md rounded-md">
    <div class="grid w-full py-2 mb-2 -my-5 pt-5 rounded-md">
        <p class="text-center self-center text-2xl font-bold text-white"> Dengan banyaknya kendaaan di indonesia, bisa dibayangkan
            skala operasi bisnis sebesar apa?
            Bisnis jasa perawatan mobil masih terbilang sedikit dan traksaksi rata-rata dari konsumennya mencapai jutaan
            rupiah!
        </p>
        <p class="text-center self-center text-2xl font-bold text-white"> Take your chances, make a profit!
        </p>
    </div>


</div>

<app-footer></app-footer>