<div class="w-full lg:max-w-[1280px]">
    <div class="px-10  bg-indigo-950 text-white py-10">
        <div class="grid w-full py-10 text-white">
            <p class="text-center self-center text-2xl font-bold">Tentang NDF Coating & Car Wash</p>
        </div>
        <div class="grid w-full bg-indigo-950 text-white">
            <ul class="list-disc">
                <li>
                    NDF Coating and Car Wash telah berdiri sejak tahun 2019 dan bergerak di bidang jasa kecantikan mobil
                    ( Car Beauty ) baik interior maupun exterior. NDF Coating & Car Wash berada di dalam naungan CV.
                    LINDA JAYA SAMUDRA.
                </li>
            </ul>
        </div>
    </div>
</div>

<app-footer></app-footer>