<div class="w-full lg:max-w-[1280px] py-5">
    <div class="grid w-full p-5">
        <div class="grid w-full py-2 mb-2 -my-5 bg-amber-400 rounded-md">
            <p class="text-center self-center text-2xl font-bold">Nano ceramic coating</p>
        </div>
        <div class="p-5 shadow-md bg-indigo-950 text-white">
            <p class="text-l">Nano ceramic coating adalah metode pelapisan unik untuk permukaan kendaraan,
                khususnya mobil, yang menggunakan nanopartikel. Lapisan ini dimaksudkan untuk memberikan perlindungan
                tambahan pada cat otomotif, memberikan kilap yang tahan lama, serta mengusir kotoran dan kelembapan.
                Partikel nano diaplikasikan pada permukaan mobil dan kemudian dikeringkan dengan benar.</p>
            <h3>Manfaat:</h3>
            <ul class="list-disc list-inside">
                <li>Meningkatkan kilau dan tampilan mobil dengan menjaganya tetap berkilau.</li>
                <li>Menghilangkan kotoran dan debu, sehingga memudahkan perawatan dan pembersihan
                    kendaraan.</li>
                <li>Tahan lama, memungkinkan mobil terlindungi lebih lama dibandingkan dengan wax
                    biasa.</li>
            </ul>
        </div>
    </div>
    <div class="grid w-full py-2 mb-2 -my-5 bg-black rounded-md mt-5">
        <p class="text-center self-center text-2xl font-bold text-white">PAKET MOBIL</p>
    </div>
    <div class="grid w-full p-5 ">
        <div class="grid w-full py-2 mb-2 -my-5 bg-amber-400 rounded-md">
            <p class="text-center self-center text-2xl font-bold">Paket Gold</p>
        </div>
        <div class="p-5 shadow-md bg-indigo-950 text-white">
            <p class="text-l">Paket Gold Nano Ceramic Coating 3 Layers adalah pelindung cat, yang dilengkapi dengan
                garansi
                selama satu tahun. Selain melindungi dari polutan, debu, kotoran, jamur, dan hujan asam. Cat mobil tidak
                akan berubah warna, terlihat basah, dan mudah dibersihkan karena kedap udara.</p>
            <h3>Kelebihan:</h3>
            <ul class="list-disc list-inside">
                <li>All Type</li>
                <li>All Size</li>
                <li>Garansi 1 tahun</li>
                <li>Daya tahan obat 1-2 tahun</li>
                <li>Paint Protection</li>
                <li>Mencegah pudarnya warna dari cat kendaraan. .</li>
                <li>Tampak lembab dan mudah dibersihkan</li>
                <li>Mengkilap dan tampak lembap</li>
                <li>Mengering dengan cepat setelah aplikasi</li>
                <li>Menggunakan coating 9h</li>
            </ul>
            <p>Harga mulai 750.000-3.000.000 </p>
        </div>
    </div>
    <div class="grid w-full p-5">
        <div class="grid w-full py-2 mb-2 -my-5 bg-amber-400 rounded-md">
            <p class="text-center self-center text-2xl font-bold">Paket Platinum</p>
        </div>
        <div class="p-5 shadow-md bg-indigo-950 text-white">
            <p class="text-l">Paket Platinum Nano Ceramic Coating 3 Layers adalah pelindung cat, yang dilengkapi dengan
                garansi selama satu tahun. Selain melindungi dari polutan, debu, kotoran, jamur, dan hujan asam. Cat
                mobil
                tidak akan berubah warna, terlihat basah, dan mudah dibersihkan karena kedap udara.</p>
            <h3>Kelebihan:</h3>
            <ul class="list-disc list-inside">
                <li>All Type</li>
                <li>All Size</li>
                <li>Garansi 2 tahun</li>
                <li>Daya tahan obat 2-3 tahun</li>
                <li>Paint Protection</li>
                <li>Mencegah pudarnya warna dari cat kendaraan. .</li>
                <li>Tampak lembab dan mudah dibersihkan</li>
                <li>Mengkilap dan tampak lembap</li>
                <li>Mengering dengan cepat setelah aplikasi</li>
                <li>Menggunakan coating 9h</li>
                <li>Maintenance sekali </li>
            </ul>
        </div>
    </div>
    <div class="grid w-full p-5">
        <div class="grid w-full py-2 mb-2 -my-5 bg-amber-400 rounded-md">
            <p class="text-center self-center text-2xl font-bold">Paket Ultimate</p>
        </div>
        <div class="p-5 shadow-md bg-indigo-950 text-white">
            <p class="text-l">Paket Ultimate Nano Ceramic Coating 3 Layers adalah pelindung cat, yang dilengkapi dengan
                garansi selama satu tahun. Selain melindungi dari polutan, debu, kotoran, jamur, dan hujan asam. Cat
                mobil
                tidak akan berubah warna, terlihat basah, dan mudah dibersihkan karena kedap udara.</p>
            <h3>Kelebihan:</h3>
            <ul class="list-disc list-inside">
                <li>All Type</li>
                <li>All Size</li>
                <li>Garansi 3 tahun</li>
                <li>Daya tahan obat 3-4 tahun</li>
                <li>Paint Protection</li>
                <li>Mencegah pudarnya warna dari cat kendaraan. .</li>
                <li>Tampak lembab dan mudah dibersihkan</li>
                <li>Mengkilap dan tampak lembap</li>
                <li>Mengering dengan cepat setelah aplikasi</li>
                <li>Menggunakan coating 10h</li>
                <li>Maintenance sekali </li>
            </ul>
        </div>
    </div>
    <div class="grid w-full py-2 mb-2 -my-5 bg-black rounded-md mt-5">
        <p class="text-center self-center text-2xl font-bold text-white">PAKET MOTOR</p>
    </div>
    <div class="grid w-full p-5">
        <div class="p-5 shadow-md bg-indigo-950 text-white">
            <p class="text-l">Paket Motor Nano Ceramic Coating adalah pelindung cat, yang dilengkapi dengan garansi
                selama
                satu tahun. Selain melindungi dari polutan, debu, kotoran, jamur, dan hujan asam. Cat mtorl tidak akan
                berubah warna, terlihat basah, dan mudah dibersihkan karena kedap udara.</p>
            <h3>Kelebihan:</h3>
            <ul class="list-disc list-inside">
                <li>All Type</li>
                <li>All Size</li>
                <li>Garansi 1 tahun</li>
                <li>Daya tahan obat 1 tahun</li>
                <li>Paint Protection</li>
                <li>Mencegah pudarnya warna dari cat kendaraan. .</li>
                <li>Tampak lembab dan mudah dibersihkan</li>
                <li>Mengkilap dan tampak lembap</li>
                <li>Mengering dengan cepat setelah aplikasi</li>
                <li>Menggunakan coating 9h </li>
            </ul>
            <p>Harga mulai 750.000-3.000.000 </p>
        </div>
    </div>

    <div class="grid w-full py-2 mb-2 -my-5 bg-black rounded-md mt-5">
        <p class="text-center self-center text-2xl font-bold text-white">PERAWATAN DAN MAINTENANCE</p>
    </div>

    <div class="grid w-full p-5">
        <div class="grid w-full py-2 mb-2 -my-5 bg-amber-400 rounded-md">
            <p class="text-center self-center text-2xl font-bold">Glass coating</p>
        </div>
        <div class="p-5 shadow-md bg-indigo-950 text-white">
            <p class="text-l">Pengertian
                Glass Coating adalah proses pelapisan nano yang diaplikasikan pada permukaan kaca mobil dengan kepadatan
                tinggi. Cara ini bertujuan untuk menjaga kaca otomotif dari goresan sekaligus menjaga kejernihan dan
                kilau
                permukaannya. Cairan unik yang digunakan dalam proses pelapisan kaca menciptakan lapisan pelindung yang
                tahan terhadap unsur lingkungan dan bahaya atau kerusakan.</p>
            <h3>Manfaat:</h3>
            <ul class="list-disc list-inside">
                <li>Melindungi kaca kendaraan dari goresan dan kerusakan fisik.</li>
                <li>Menahan kotoran dan debu, sehingga memudahkan pembersihan kaca.</li>
                <li>Meningkatkan kejernihan dan kilap permukaan kaca kendaraan.</li>
            </ul>
            <p>Harga mulai dari 250.000-700.000</p>
        </div>
    </div>
    <div class="grid w-full p-5">
        <div class="grid w-full py-2 mb-2 -my-5 bg-amber-400 rounded-md">
            <p class="text-center self-center text-2xl font-bold">Auto detailing</p>
        </div>
        <div class="p-5 shadow-md bg-indigo-950 text-white">
            <p class="text-l">Auto detailing adalah teknik perawatan khusus yang bertujuan untuk membersihkan,
                memperbaiki,
                dan
                mempercantik kendaraan baik mobil maupun sepeda motor agar tampil seperti baru. Proses ini memerlukan
                pembersihan dan pemeliharaan menyeluruh pada setiap aspek mobil, termasuk bagian interior dan eksterior.
            </p>
            <h3>Manfaat:</h3>
            <ul class="list-disc list-inside">
                <li>Penampilan Menawan: Mengembalikan kilau dan kecerahan asli kendaraan, sehingga terlihat lebih
                    menarik.
                </li>
                <li>Perlindungan: Melindungi cat dan permukaan kendaraan dari kerusakan, goresan dan kerusakan
                    lingkungan
                    lainnya.</li>
                <li>Kenyamanan: Membersihkan dan merawat interior, yang membuat pengalaman berkendara semakin nyaman dan
                    menyenangkan. </li>
            </ul>
            <p>Harga mulai dari 500.000-1.250.000</p>
        </div>
    </div>
    <div class="grid w-full p-5">
        <div class="grid w-full py-2 mb-2 -my-5 bg-amber-400 rounded-md">
            <p class="text-center self-center text-2xl font-bold">Car Wash</p>
        </div>
        <div class="p-5 shadow-md bg-indigo-950 text-white">
            <p class="text-l">adalah proses pembersihan kendaraan secara menyeluruh, baik dengan teknik manual maupun
                hidrolik. Tujuan dari prosedur ini adalah untuk menghilangkan kotoran, debu, dan noda yang mengganggu
                penampilan dari kendaraan, baik interioir maupun eksterior.</p>
            <h3>Manfaat:</h3>
            <ul class="list-disc list-inside">
                <li>Menjaga Penampilan Kendaraan: Membersihkan kendaraan secara rutin akan menjaga tampilan kendaraan
                    tetap
                    segar dan menarik.</li>
                <li>Melindungi Cat dan Permukaan: Menghilangkan kotoran dan debu yang dapat merusak cat dan permukaan
                    kendaraan, sehingga memperpanjang masa pakainya.</li>
                <li>Meningkatkan Nilai Jual Kembali: Kendaraan yang dirawat dengan baik memiliki nilai jual kembali yang
                    lebih baik daripada kendaraan yang tidak dirawat dengan baik.</li>
            </ul>
            <p>Harga 25.000 all type all size</p>
        </div>
    </div>
    <div class="grid w-full p-5">
        <div class="grid w-full py-2 mb-2 -my-5 bg-amber-400 rounded-md">
            <p class="text-center self-center text-2xl font-bold">Rush protection</p>
        </div>
        <div class="p-5 shadow-md bg-indigo-950 text-white">
            <p class="text-l">Mobil dirawat agar terhindar dari karat atau korosi yang disebabkan oleh unsur lingkungan
                seperti udara, garam, dan bahan kimia lainnya. Perlindungan ini biasanya memerlukan penerapan lapisan
                khusus
                yang mencegah kontak langsung antara logam dan lingkungan, yang dapat menyebabkan karat.</p>
            <h3>Manfaat:</h3>
            <ul class="list-disc list-inside">
                <li>Mencegah Karat: Perlindungan Karat menciptakan lapisan pelindung yang menjaga logam mobil agar tidak
                    bersentuhan dengan zat penyebab korosi.</li>
                <li>Menjaga Kondisi Mobil: Perlindungan karat membantu menjaga kondisi kendaraan tetap baik dan memiliki
                    nilai jual kembali yang tinggi.</li>
                <li>Merawat eksterior :Perlindungan karat dapat menjaga eksterior kendaraan tetap bersih dan terawat
                    sehingga memberikan kesan lebih baru dan menarik.</li>
            </ul>
            <p>Harga rush protection (anti karat): 1.250.000, all type, all size</p>
        </div>
    </div>
    <div class="grid w-full p-5">
        <div class="grid w-full py-2 mb-2 -my-5 bg-amber-400 rounded-md">
            <p class="text-center self-center text-2xl font-bold">Poles Kaca</p>
        </div>
        <div class="p-5 shadow-md bg-indigo-950 text-white">
            <p class="text-l">Poles Kaca adalah teknik yang berupaya meningkatkan kilap dan menghilangkan
                ketidaksempurnaan
                permukaan,
                seperti goresan, pada kendaraan, furnitur, dan permukaan lainnya. Metode ini menggunakan bahan abrasif
                dan
                bahan kimia tertentu untuk menghasilkan permukaan yang halus dan berkilau.</p>
            <h3>Manfaat:</h3>
            <ul class="list-disc list-inside">
                <li>Peningkatan Tampilan: poles membuat pemandangan menjadi lebih indah, menarik, dan enak dipandang.
                </li>
                <li>Melindungi permukaan: membantu mengatasi dari kerusakan lebih lanjut dengan mengurangi goresan dan
                    cacat.</li>
                <li>Memperpanjang Umur: poles dapat membantu memperpanjang umur barang yang diolah, seperti mobil atau
                    perabot, dengan menjaga permukaan yang tetap terawat.</li>
            </ul>
            <p>Mulai dari 650.000-1.300.000</p>
        </div>
    </div>
    <div class="grid w-full p-5">
        <div class="grid w-full py-2 mb-2 -my-5 bg-amber-400 rounded-md">
            <p class="text-center self-center text-2xl font-bold">Cozy Karpet</p>
        </div>
        <div class="p-5 shadow-md bg-indigo-950 text-white">
            <p class="text-l">Karpet mobil membutuhkan perawatan rutin untuk menjaga kebersihannya dan memperpanjang
                umur
                pakainya.</p>
            <h3>Manfaat:</h3>
            <ul class="list-disc list-inside">
                <li>Karpet mobil melindungi lantai dari serpihan, debu, dan kelembapan yang dapat merusak permukaan dan
                    bahan
                    lantai.</li>
                <li>Pencegahan Bau Tak Sedap: Dengan menjaga kebersihan karpet mobil secara teratur, Anda dapat mencegah
                    partikel makanan, cairan, dan kelembapan meninggalkan mobil Anda dan menimbulkan aroma yang tidak
                    diinginkan.</li>
                <li>Meningkatkan Estetika Interior: Karpet mobil yang terawat dan bersih dapat mempercantik tampilan
                    interior dan memberikan pengendaraan yang lebih nyaman.</li>
                <li>Menurunkan Risiko Penyakit Kulit: Membersihkan karpet mobil secara teratur menurunkan kemungkinan
                    alergi
                    atau iritasi kulit akibat debu dan kotoran yang menempel di karpet.</li>
                <li>Meningkatkan Nilai Jual Kembali Mobil: Karena menunjukkan bahwa kendaraan telah menjalani perawatan
                    umum, karpet mobil yang dirawat dengan baik dapat meningkatkan nilai mobil Anda saat Anda
                    menjualnya.
                </li>
            </ul>
            <p>Mulai dari 500.000-600.000</p>
        </div>
    </div>
    <div class="grid w-full p-5">
        <div class="grid w-full py-2 mb-2 -my-5 bg-amber-400 rounded-md">
            <p class="text-center self-center text-2xl font-bold">Fogging Disinfektan</p>
        </div>
        <div class="p-5 shadow-md bg-indigo-950 text-white">
            <p class="text-l">Fogging Disinfektan adalah teknik pengaplikasian larutan disinfektan pada permukaan dan
                udara
                dengan menciptakan
                kabut halus menggunakan peralatan fogging. Ini menghilangkan patogen, virus, dan bakteri yang
                membahayakan
                kesehatan manusia dan hewan.</p>
            <h3>Manfaat:</h3>
            <ul class="list-disc list-inside">
                <li>Membunuh Mikroorganisme: Mikroorganisme patogen seperti bakteri, jamur, dan virus dihilangkan secara
                    efisien dengan fogging.</li>
                <li>Mensterilkan Lingkungan: Fogging, atau penyemprotan disinfektan, berkontribusi pada pembersihan dan
                    sterilisasi ruangan, termasuk mobil, ruangan, dan tempat terbuka.</li>
                <li>Pencegahan Penyakit: Fogging dapat membantu menghentikan penularan penyakit menular seperti flu,
                    demam,
                    dan infeksi saluran pernafasan.</li>
                <li>Menghambat Pertumbuhan Jamur: Disinfektan yang membuat kabut pada mobil dan area lain juga sangat
                    baik
                    dalam mencegah pertumbuhan jamur.</li>
            </ul>
            <p>Harga 250.000 all type all size</p>
        </div>
    </div>
    <div class="grid w-full p-5">
        <div class="grid w-full py-2 mb-2 -my-5 bg-amber-400 rounded-md">
            <p class="text-center self-center text-2xl font-bold">Maintenance</p>
        </div>
        <div class="p-5 shadow-md bg-indigo-950 text-white">
            <p class="text-l">Maintenance adalah prosedur pemeliharaan rutin terjadwal yang digunakan untuk perawatan
                coating. Hal ini dimaksudkan untuk menghindari bahaya, memperpanjang masa pakai, dan memastikan
                keandalan
                operasional.</p>
            <h3>Manfaat:</h3>
            <ul class="list-disc list-inside">
                <li>Pemeliharaan aset adalah proses memastikan bahwa sumber daya bisnis, termasuk infrastruktur, mesin,
                    dan
                    peralatannya, digunakan secara efektif dan tetap dalam kondisi baik.</li>
                <li>Meningkatkan Kinerja: Dengan meningkatkan fungsionalitas dan efisiensi peralatan, pemeliharaan rutin
                    dapat meningkatkan produktivitas operasional.</li>
                <li>Mencegah Kerusakan: Kemungkinan kegagalan dan kerusakan peralatan dapat dikurangi dengan melakukan
                    pemeliharaan preventif.</li>
                <li>Mengurangi Waktu Henti: Pemeliharaan yang telah diatur sebelumnya membantu mengurangi waktu yang
                    hilang
                    akibat kerusakan peralatan atau perbaikan yang tidak terduga.</li>
                <li>Keselamatan Kerja: Dengan mengurangi kemungkinan kecelakaan yang disebabkan oleh kegagalan
                    peralatan,
                    pemeliharaan rutin juga dapat meningkatkan keselamatan pekerja. </li>
            </ul>
            <p>Harga 500.000 all type all size</p>
        </div>
    </div>

    <div class="grid w-full p-5">
        <div class="grid w-full py-2 mb-2 -my-5 bg-amber-400 rounded-md">
            <p class="text-center self-center text-2xl font-bold">Home service</p>
        </div>
        <div class="p-5 shadow-md bg-indigo-950 text-white">
            <p class="text-l">Home service adalah melakukan pelayanan atau perbaikan di lokasi pelanggan, biasanya di
                rumah
                atau tempat tinggalnya. Tujuan utama dari home service adalah untuk memberikan kenyamanan dan kemudahan
                kepada pelanggan dengan mengurangi waktu dan tenaga yang diperlukan untuk melakukan perjalanan ke lokasi
                penyedia layanan.</p>
            <h3>Manfaat:</h3>
            <ul class="list-disc list-inside">
                <li>Kenyamanan: Pelanggan dapat memperoleh layanan tanpa harus keluar rumah.</li>
                <li>Waktu yang Dihemat: Menghemat waktu yang dihabiskan untuk bepergian ke lokasi penyedia layanan.</li>
                <li>Fleksibilitas: Penjadwalan yang fleksibel berdasarkan pilihan konsumen.</li>
                <li>Layanan yang Lebih Personal: Pelanggan dapat berkomunikasi langsung dengan penyedia layanan. </li>
            </ul>
            <p>Keliapatan 5km naik 100.000</p>
            <p>Mulai dari 100.000</p>
        </div>
    </div>
</div>
<app-footer></app-footer>