<div class="flex justify-center">
  <div  class="fixed top-0 z-50 w-full lg:max-w-[1280px]"><p appHighlight>Highlight me!</p>

    <mat-toolbar class="custom-toolbar">
      <mat-toolbar-row>
        <div class="md:hidden">
          <button mat-icon-button (click)="sidenav.toggle()" class="md:hidden">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <span class="menu-spacer"></span>
        <div class="md:block" hidden>
          <button mat-button [matMenuTriggerFor]="aboveMenu">About us </button>
          <mat-menu #aboveMenu="matMenu" yPosition="below">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>

          <button mat-button [matMenuTriggerFor]="belowMenu">Product</button>
          <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>

          <button mat-button>Workshop</button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div>
    <mat-sidenav-container>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <a (click)="sidenav.toggle()" mat-list-item>Close</a>
          <a [matMenuTriggerFor]="aboveMenu" mat-list-item>About us</a>
          <a href="#" mat-list-item>Product</a>
          <a href="#" mat-list-item>Workshop</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="static">

          <div class="lg:max-w-[1280px]">
            <app-swiper></app-swiper>
          </div>
        </div>
        <div class="flex justify-center ...">
          <div>01</div>
          <div>02</div>
          <div>03</div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
<div swiperElement class="flex justify-center">
  <div>01</div>
  <div>02</div>
  <div>03</div>
</div>