<div class="static">
  <div class="lg:max-w-[1280px]">
    <app-swiper></app-swiper>
  </div>
</div>
<div class="w-full lg:max-w-[1280px]">
  <div class="grid w-full">
    <p class="text-center self-center text-xl font-bold">Our Product</p>
  </div>
  <div
    class="justify-center grid grid-cols-1 gap-4 md:grid-cols-3 content-center px-5"
  >
    <div class="grid w-full h-40 rounded-lg bg-amber-500 hover:bg-amber-400">
      <p class="text-center self-center">Car Wash & Beauty</p>
    </div>
    <div class="grid w-full h-40 rounded-lg bg-amber-500 hover:bg-amber-400">
      <p class="text-center self-center">Auto Detailing</p>
    </div>
    <div class="grid w-full h-40 rounded-lg bg-amber-500 hover:bg-amber-400">
      <p class="text-center self-center">Coating Nano Ceramic</p>
    </div>
  </div>

  <div class="grid w-full">
    <p class="text-center self-center text-2xl font-bold pt-10">FAQ</p>
    <p class="text-center self-center text-lg font-bold">
      Pertanyaan yang sering ditanyakan
    </p>
    <div class="px-10">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Apa Itu Nano Ceramic? </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Coating merupakan bagian dari auto detailing dengan mengaplikasikan
            lapisan khusus pada permukaan cat mobil. Alhasil dengan adanya
            lapisan baru ini, cat mobil terlindungi dari terik matahari,
            pengaruh cuaca, oksidasi, serta paparan kotoran dan debu. Nano
            ceramic coating merupakan salah satu metode coating yang
            mengandalkan kecanggihan teknologi masa kini. Jenis coating ini
            tidak hanya membuat cat mobil kembali mengilap, namun juga lebih
            tahan terhadap goresan. Nano ceramic sendiri terbuat dari bahan
            utama silika yang mengandung partikel kecil berukuran nano dengan
            tingkat kerapatan yang sangat tinggi. Karena sangat baik dari sisi
            kerapatan dibanding pelindung cat lainnya, nano ceramic lebih cepat
            meresap ke pori-pori cat sekaligus mengangkat kotoran, jamur, kerak,
            dan residu yang menempel di cat mobil. Kerapatan molekul yang
            membuat nano ceramic coating unggul dari waxing biasa dalam hal daya
            tahan. Karena umumnya nano ceramic memiliki ketahanan antara 3-5
            tahun, sedangkan wax konvensional hanya sekitar 3-6 bulan saja.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Manfaat Nano Ceramic Coating </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Secara umum manfaat nano ceramic ada 2 yaitu hydroponic effect dan
            self cleaning effect. Yang dimaksud hydroponic effect atau efek
            hidroponik yaitu cat mobil memiliki efek seperti daun talas.
            Alhasil, ketika cat terkena air maka tetesan air tersebut akan
            langsung jatuh dan tidak menempel di bodi mobil. Air yang menempel
            di cat mobil akan menyebabkan bercak yang memicu tumbuhnya jamur dan
            kerak. Sementara self cleaning effect membuat kotoran dan debu tidak
            mudah menempel. Kalaupun kotoran terlanjur menempel akan mudah
            dihilangkan. Dengan begitu mencuci mobil menjadi lebih cepat dan
            mudah. Selain itu, nano ceramic coating juga sanggup melindungi cat
            mobil dari kontaminasi natural acid dan sinar ultra violet. Nano
            ceramic juga memberi perlindungan cat dari goresan dan baret-baret
            halus (swirl mark) akibat kesalahan saat mencuci mobil.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div class="grid w-full">
    <p class="text-center self-center text-2xl font-bold py-10">
      --- BERGABUNG SEKARANG ---
    </p>
    <p class="text-center self-center font-bold pb-10 px-10">
      Kesuksesan bisnis tidak hanya tentang mengenali peluang, tetapi juga
      tentang bagaimana anda mengambil tindakan untuk merealisasikannya
    </p>
  </div>
</div>

